<div style="text-align: center; margin-top: 50px;">
  <h1>Cuenta regresiva</h1><h1>Level {{  this.gameMap.level }}</h1>
  <div style="font-size: 48px; font-weight: bold;">{{ display }}</div>
  <br>
</div>

<!-- Contenedor principal con flex -->
<div class="main-container" style="display: flex; justify-content: space-between; align-items: flex-start; margin-top: 20px;width: 99%;">

  <!-- Lado izquierdo: board y puntuaje -->
  <div class="left-side" style="width: 62%;">
    <div class="container-koban">
      <div class="board">
        <div *ngFor="let row of board; let y = index" class="row">
  <div *ngFor="let cell of row; let x = index" class="cell" [ngClass]="cell">
    <ng-container [ngSwitch]="cell">
      <img *ngSwitchCase="'P'" src="assets/images/montacargas.png" width="60">
      <img *ngSwitchCase="'O'" [src]="getBoxImage(boxIds[y][x])" width="50">
      <img *ngSwitchCase="'X'" src="assets/images/estiba.png" width="50">
      <img *ngSwitchCase="'#'" src="assets/images/muro.png" class="size-img">
      <span *ngSwitchDefault>{{ cell == '.' ? '' : cell }}</span>
    </ng-container>
  </div>
</div>

      </div>
      <div style="text-align: center;">
        <h1 style="font-size: 20px; margin: 0;">Puntuaje</h1>
        <div style="font-size: 20px; font-weight: bold;">{{ score }}</div>
        <br>
      </div>
        <svg (click)="reload()" style="cursor: pointer;"
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise reload" viewBox="0 0 16 16" >
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
      </svg>

      
    </div>
  </div>

  <!-- Lado derecho: tabla de movimientos -->
<div class="right-side" style="width: 25%;">
  <h2 class="table-title">Mejores Puntuajes</h2>
  <table class="scoreboard-table">
    <thead>
      <tr>
        <th>Jugador</th>
        <th>Puntuaje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of bestRecords">
        <td>{{ record.nameGamer }}</td>
        <td>{{ record.point }}</td>
      </tr>
    </tbody>
  </table>
</div>

</div>

<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Ingrese su nombre</h2>
    <input type="text" [(ngModel)]="playerName" placeholder="Nombre del jugador" />
    <button (click)="saveScore()" class="save-btn">Guardar</button>
  </div>
</div>
